 .o-navbar{
    background-color: #eceff1;
    color: black;
      
 }
 .nav-pills .nav-link.active{
    background-color: #27ae60;
    color: #FFC107;
 }
 .navbar-dark .navbar-nav .nav-link {
    color:#34495e;
    font-weight: 700;
    font-size: .8rem;
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.navbar-dark .navbar-nav .nav-link.active{
    color: #2c3e50;
    font-weight: 700;
}
.navbar-dark .navbar-brand {
    color: #34495e;
    font-weight: 800;
    font-family: Roboto;
}
.navbar-dark .navbar-brand:hover{
    color: #27ae60;

}
.navbar-dark .navbar-nav .nav-link:hover{
    color: #181616;
}
.navbar-dark .navbar-toggler-icon{
    background-color:#34495e;
}
.navbar-dark .navbar-brand.active{
    color: #34495e;
}
.o-search-box{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin-bottom: 2rem ;

}
